

body {

	background-color: cornflowerblue;
	color: white;
  background-image: url(images/"better-software-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin-top: 20%;

}

a {
	border: solid ;
	border-radius: 5px;
}

